<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
				<ul class="footer-follow">
					<li><a href="https://www.facebook.com/Huseyn3111/" target="_blank" ><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="https://www.instagram.com/hus3.yn" target="_blank"><i class="fab fa-instagram"></i></a></li>
					<li><a href="https://www.linkedin.com/in/huseyn-ahmadov-659102197/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCU4Gvt6BHMyFcqSZUWH1VjQ" target="_blank"><i class="fab fa-youtube"></i></a></li>
				</ul>
				<div class="footer-copyrights">
					<p class="text-white">&copy; HUSEYN AHMADOV</p>
				</div>
            </div>
        </div>
    </div>
</footer>