<!--==========================
    HERO SECTION Section
============================-->
	<header id="hero">
		<div class="container">
			<div class="intro-text">
				<h1 class="text-white">YOUR BLOG WEBSITE</h1>
				<p>Publish your passions your way. Whether you'd like to share your knowledge, experiences or the latest news, create a unique and beautiful blog for free.</p>
				<button class="main-btn">
					<a href="/users/login" style="color: #fff;">Get Started!</a>
				</button>
			</div>
		</div>
	</header>

	<!--==========================
    WHO WE ARE Section
============================-->

	<section id="about" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Services</h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-cogs"></i>
						<h3>Lorem Ipsum</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-magic"></i>
						<h3>Lorem Ipsum</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-mobile"></i>
						<h3>Lorem Ipsum</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
    
    <section id="statement" class="md-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-black lead">On this site, you can easily create your own blog.</h4>
            </div>
        </div>
    </div>
      
</section>   

	<section id="features" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Features</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>The blog can act as a funnel that plays an important role in making a conversion. But to have a perfect blog, you need to focus on some important aspects that can make your content more impressive and creative, creating a legit platform.</p>
					<div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>FEATURE 01</h5>
                                <h4>Easy Navigation</h4>
                                <p>Make your blog site really resourceful by creating rich content and make them navigate easily through the friendly navigation bar.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>FEATURE 02</h5>
                                <h4>Numerous Posting Formats.</h4>
                                <p>Posting is the way of publishing the blog on the website.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>FEATURE 03</h5>
                                <h4>Structural Design.</h4>
                                <p>Make an efficient structural design that makes your blogs more impactful to the audience.</p>
                            </div>
                        </div>	
					</div>
				</div>
				<div class="col-md-6">
					<div id="features-slide" class="owl-carousel owl-theme">
						<img src="img/about1.jpg" class="img-fluid">
						<img src="img/about2.jpg" class="img-fluid">
						<img src="img/about1.jpg" class="img-fluid">
						<img src="img/about2.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>